## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
#from scipy import stats
from confil import g_key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.4541,-133.0374,-23.85,100,55,5.35,broken clouds
1,1,Nemuro,JP,43.3236,145.5750,22.87,74,79,7.85,broken clouds
2,2,Bluff,NZ,-46.6000,168.3333,56.80,68,21,16.73,few clouds
3,3,Dunedin,NZ,-45.8742,170.5036,58.80,71,100,4.00,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,66.29,82,0,1.12,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bluff,NZ,-46.6000,168.3333,56.80,68,21,16.73,few clouds
3,3,Dunedin,NZ,-45.8742,170.5036,58.80,71,100,4.00,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,66.29,82,0,1.12,clear sky
5,5,Pescia,IT,43.8970,10.6904,52.38,73,100,3.00,overcast clouds
6,6,Rio Grande,BR,-32.0350,-52.0986,82.51,79,3,22.46,clear sky
7,7,Cape Town,ZA,-33.9258,18.4232,70.09,78,0,5.01,clear sky
9,9,Vila Do Maio,CV,15.1333,-23.2167,75.99,75,22,12.44,few clouds
11,11,Hithadhoo,MV,-0.6000,73.0833,81.30,71,100,8.19,overcast clouds
12,12,Butaritari,KI,3.0707,172.7902,81.84,78,86,15.19,overcast clouds
15,15,Pisco,PE,-13.7000,-76.2167,80.65,54,0,20.71,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bluff,NZ,-46.6000,168.3333,56.80,68,21,16.73,few clouds
3,3,Dunedin,NZ,-45.8742,170.5036,58.80,71,100,4.00,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,66.29,82,0,1.12,clear sky
5,5,Pescia,IT,43.8970,10.6904,52.38,73,100,3.00,overcast clouds
6,6,Rio Grande,BR,-32.0350,-52.0986,82.51,79,3,22.46,clear sky
...,...,...,...,...,...,...,...,...,...,...
699,699,Gat,IL,31.6100,34.7642,51.40,100,8,5.30,clear sky
702,702,Itupiranga,BR,-5.1347,-49.3267,77.32,92,96,2.08,light rain
703,703,Labuan,MY,5.2767,115.2417,77.36,94,20,2.30,few clouds
704,704,Cervo,ES,43.6702,-7.4101,52.97,88,100,14.65,overcast clouds
705,705,Mwense,ZM,-10.3845,28.6980,65.62,93,100,1.25,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bluff,NZ,56.80,few clouds,-46.6000,168.3333,
3,Dunedin,NZ,58.80,overcast clouds,-45.8742,170.5036,
4,Port Elizabeth,ZA,66.29,clear sky,-33.9180,25.5701,
5,Pescia,IT,52.38,overcast clouds,43.8970,10.6904,
6,Rio Grande,BR,82.51,clear sky,-32.0350,-52.0986,
7,Cape Town,ZA,70.09,clear sky,-33.9258,18.4232,
9,Vila Do Maio,CV,75.99,few clouds,15.1333,-23.2167,
11,Hithadhoo,MV,81.30,overcast clouds,-0.6000,73.0833,
12,Butaritari,KI,81.84,overcast clouds,3.0707,172.7902,
15,Pisco,PE,80.65,clear sky,-13.7000,-76.2167,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bluff,NZ,56.80,few clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,Dunedin,NZ,58.80,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
4,Port Elizabeth,ZA,66.29,clear sky,-33.9180,25.5701,39 On Nile Guest House
5,Pescia,IT,52.38,overcast clouds,43.8970,10.6904,Villa delle Rose
6,Rio Grande,BR,82.51,clear sky,-32.0350,-52.0986,Hotel Atlântico Rio Grande

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

####